body {
    background-color: #333333;
  }
  
  .search-form {
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 2%;
  }
  
  .search-input {
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: #333333;
    color: #fff;
  }
  
  .search-button {
    border-radius: 10px;
    padding: 10px;
    background-color: #ff69b4;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #ff1493;
      }

  }
  
  
  
  .movie-card {
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover {
        scale: 105%;
        box-shadow: 0px 15px 40px black;
      }
        img {
        max-width: 200px;
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      
        h3 {
        font-size: 24px;
        margin-bottom: 5px;
        color: #fff;
      }
      
        p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #fff;
      }
      
        a {
        display: inline-block;
        background-color: #ff69b4;
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;

            &:hover {
            background-color: #ff1493;
            }
      }

      .awards{
        color: gold;
      }
    
      
  }
  .not-found {
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  